{% extends 'base.html' %}
{% load static %}
{% load customs %}
{% block title %}Pictopia | {{ object.username }}{% endblock %}
{% block style %}
    <link rel="stylesheet" href="{% static 'style/account/details.css' %}">
{% endblock %}

{% block page_content %}

    <div class="page-container">
        <div class="user-container">
            <div class="user-username">
                <p>{{ profile.username }}</p>
            </div>
            <div class="user-image-names">
                {% if profile.image %}
                    <img class="user-image" src="/media/{{ profile.image }}" alt="">
                {% else %}
                    <img class="user-image" src="{% static 'images/default-user.png' %}" alt="">
                {% endif %}
                {% if profile.full_name %}
                    <p class="user-names">{{ profile.full_name }}</p>
                {% endif %}
            </div>
            <div class="user-stats">
                <div class="user-posts">
                    <p>{{ posts|length }}</p>
                    <p>Posts</p>
                </div>
                <div class="user-likes">
                    <p>{{ likes_count }}</p>
                    <p>Likes</p>
                </div>
                <div class="user-comments">
                    <p>{{ comments_count }}</p>
                    <p>Comments</p>
                </div>
            </div>
        </div>
        <div class="user-details-container">
            <div class="user-details-buttons">
                {% if user == profile.client %}
                    <a class="user-details-two-buttons button" href="{% url 'profile edit page' %}">Edit profile</a>
                    <a class="user-details-two-buttons button" href="#">Share profile</a>
                {% else %}
                    <a class="user-details-one-button button" href="#">Share profile</a>
                {% endif %}
            </div>
            <div class="user-details-description">
            {% if profile.description %}
                <p>{{ profile.description }}</p>
            {% endif %}
            </div>
        </div>
        {% if posts %}
            <div class="user-posts-container">
                <div class="user-posts-grid">
                    {% for post in posts %}
                        <div class="user-post">
                            <a href="#"><img class="post-image" src="/media/{{ post.image }}" alt=""></a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% else %}
            <h1 style="text-align: center">No posts to show :(</h1>
        {% endif %}
    </div>

{% endblock %}