@font-face {
    font-family: 'jsMath';
    src: url("static/fonts/jsMath-cmbh10.ttf");
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #242117;
    font-size: 1.5rem;
}

.page-container {
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px;
    border-bottom: 5px solid #2A4843;
}

form label {
    color: #A0CEC6;
}

form input {
    background-color: black;
    border: none;
    color: white;
}

form div:first-of-type {
    margin-bottom: 20px;
}

form div {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.a-div {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
    margin-top: 5px;
}

.a-div a {
    color: #A0CEC6;
    text-decoration: unset;
}

.button-div {
    display: flex;
    justify-content: center;
}

.button-div button {
    width: 200px;
    background-color: #2A4843;
    border: none;
    color: #A0CEC6;
}

h1 {
    font-family: jsMath, serif;
    text-align: center;
    margin-bottom: 50px;
    color: lightgray;
}

p {
    margin-top: 20px;
    color: #D9D9D9;
}

p a {
    color: #A0CEC6;
}

.errorlist {
    color: red;
}