body {
    background-color: #242117;
}

.page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

.post-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
    padding: 0 0 0 50px;
}

.post-user {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 10px;
    gap: 10px;
}

.post-user-image {
    border-radius: 50%;
    height: 50px;
    clip-path: circle();
    background-color: lightgray;
}

.no-img {
    padding: 5px 1px 5px 1px;
}

.post-user-username {
    color: white;
    text-decoration: unset;
}



.post-posted-time {
    margin: 0;
}

.post-content {
    display: flex;
}

.post-caption-image {
    border-top: 5px solid black;
    border-right: 5px solid black;
    display: flex;
    gap: 100px;
}

.post-caption {
    width: 200px;
    word-break: break-word;
    padding: 10px 0 0 10px;
}

.caption-title {
    text-transform: uppercase;
}

.post-image {
    width: 400px;
    padding: 10px 10px 0 0;
}

.post-image img {
    width: 100%;
}

.comment-image {
    width: 30px;
    border-radius: 50%;
    clip-path: circle();
}

.post-comment-title {
    margin: auto 0 auto 30px;
    padding: 30px 0 30px 0;
    font-size: 30px;
}

.post-comments {
    max-height: 430px;
    border-top: 5px solid black;
    padding: 10px 30px 10px 30px;
    overflow-y: scroll;
}

::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: black;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: white;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: white;
}

.add-comment-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

.comment-input {
    all: unset;
}

.comment-container {
    width: 221px;
    background-color: lightgray;
    padding: 5px 10px 5px 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    color: black;
    word-break: break-word;
}

.comment-username {
    text-decoration: unset;
    color: black;
}

.comment-user-container {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}

.comment-user-container form {
    margin-left: auto;
}

.comment-user-container form button {
    all: unset;
    cursor: pointer;
}

.comment-user-container form button:hover {
    text-decoration: underline;
}

.comment-user-time {
    display: flex;
    flex-direction: column;
}

.comment-user-time p {
    margin: 0;
    font-size: 12px;
}

.post-actions {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 24px;
}

.post-actions p {
    margin: 0 25px 0 10px;
}

.fa-solid.fa-heart {
    color: red;
}

.fa-regular.fa-heart {
    color: white;
    text-decoration: unset;
}

.post-actions button {
    all: unset;
    cursor: pointer;
}

