{% extends 'base.html' %}
{% load static %}
{% load customs %}
{% block style %}
    <link rel="stylesheet" href="{% static 'home-page.css' %}">
{% endblock %}
{% block page_content %}

    <div class="page-container">

        {% for post in object_list %}
            <div class="post-container">
                <div class="post-info">
                    <div class="post-user-data">
                        {% if post.profile.image %}
                            <img src="/media/{{ post.profile.image }}" alt="">
                        {% else %}
                            <img class="no-img" src="{% static 'images/default-user.png' %}" alt="">
                        {% endif %}
                        <a class="post-username" href="{% url 'profile details page' profile_pk=post.profile.pk %}">{{ post.profile.username }}</a>
                    </div>
                    <p class="post-date">{{ post.created_at|postedTime }}</p>
                </div>
                {% if post.image and not post.description %}
                    <img class="post-image" src="/media/{{ post.image }}" alt="">
                {% elif post.description and not post.image %}
                    <p class="post-description">{{ post.description }}</p>
                {% else %}
                    <img class="post-image" src="/media/{{ post.image }}" alt="">
                    <p class="post-description">{{ post.description }}</p>
                {% endif %}
            </div>
        {% endfor %}

    </div>

{% endblock %}